<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= form_with(model: profile, class: "mt-4") do |form| %>
        <% if profile.errors.any? %>
          <div class="alert alert-danger">
            <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
            <ul>
              <% profile.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group mb-3">
          <%= form.label :username %>
          <%= form.text_field :username, class: "form-control" %>
        </div>

        <div class="form-group mb-3">
          <%= form.label :user_id %>
          <%= form.number_field :user_id, class: "form-control" %>
        </div>

        <div class="form-group mb-3">
          <%= form.label :avatar_url %>
          <%= form.text_field :avatar_url, class: "form-control" %>
        </div>

        <div class="form-group mb-3">
          <%= form.label :region %>
          <%= form.text_field :region, class: "form-control" %>
        </div>

        <div class="form-group d-flex justify-content-center">
          <%= form.submit "Save", class: "btn btn-primary w-50" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
