<%= form_with(model: profile, local: true, multipart: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :avatar %>
    <%= form.file_field :avatar, class: "form-control-file" %>
  </div>

  <div class="form-group">
    <%= form.label :login, I18n.t("login") %>
    <%= form.text_field :login, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :gender, I18n.t("gender") %>
    <%= form.select :gender, ["Male", "Female", "Other"], {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :birth_date, I18n.t("birth_date") %>
    <%= form.date_field :birth_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <label for="calculated_age"><%=I18n.t("age")%></label>
    <input type="text" id="calculated_age" class="form-control" value="<%= profile.calculate_age %>" readonly>
  </div>

  <div class="form-group">
    <%= form.label :city, I18n.t("city") %>
    <%= form.text_field :city, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :hobbies, I18n.t("select_the_hobby")%>
    <%= form.hidden_field :hobbies, value: profile.hobbies %>
    <%= select_tag "hobby_ids", options_from_collection_for_select(Hobby.all, :id, :name), multiple: true, class: "form-control" %>
  </div>

  <%= link_to I18n.t("new_hobby"), new_hobby_path, class: "btn btn-primary", remote: true %>

  <%= form.submit I18n.t("update_profile"), class: "btn btn-primary" %>
<% end %>