<div id="<%= dom_id profile %>">
  <p>
    <strong>Username:</strong>
    <%= profile.username %>
  </p>

  <p>
    <strong>User:</strong>
    <%= profile.user_id %>
  </p>

  <p>
    <strong>Avatar url:</strong>
    <%= profile.avatar_url %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= profile.region %>
  </p>

</div>
