<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div id="<%= dom_id @topic %>" class="post-container card mb-3">
        <div class="card-body">
          <h3 class="card-title"><%= @topic.name %></h3>
          <p class="card-text"><%= @topic.description %></p>
        </div>
      </div>
      <% if @topic.posts.any? %>
        <h4><%=I18n.t("posts_in_this_topic")%></h4>
        <ul>
          <% @topic.posts.each do |post| %>
            <li><%= link_to post.title, post_path(post) %></li>
          <% end %>
        </ul>
      <% else %>
        <p><%=I18n.t("no_posts")%></p>
      <% end %>
    </div>
  </div>
</div>