<div id="<%= dom_id post %>" class="post-container card mb-3">
  <div class="card-body">
    <p class="card-text">
      <strong><%= I18n.t("topic") %></strong>
      <%= post.topic.name %>
    </p>

    <% if post.image.attached? %>
      <div class="card-body">
        <%= image_tag post.image, class: "img-fluid"  %>
      </div>
    <% end %>

    <p class="card-title">
      <strong><%= I18n.t("name") %></strong>
      <%= post.title %>
    </p>

    <p class="card-text">
      <strong><%= I18n.t("body") %></strong>
      <%= post.body %>
    </p>

    <p class="card-text">
      <strong>Likes:</strong>
      <%= post.likes %>
    </p>

    <p class="card-text">
      <strong>Dislikes:</strong>
      <%= post.dislikes %>
    </p>

    <p class="card-text">
      <strong>Replies:</strong>
      <%= post.replies %>
    </p>
  </div>
</div>
