<div class="container mt-4">
  <h1>Post list</h1>
  <%= form_with(url: search_posts_path, method: :get, local: true, class: "form-inline mt-3") do |form| %>
    <div class="form-group mr-2">
      <%= form.label :search, "Search by title:" %>
      <%= form.text_field :search, value: (params[:search].present? ? params[:search] : ''), class: "form-control" %>
    </div>
    <%= form.submit "Search", class: "btn btn-info" %>
  <% end %>
  <%= form_with(url: posts_path, method: :get, local: true, class: "form-inline") do |form| %>
    <div class="form-group mr-2">
      <%= form.label :sort_by, "Sort by:" %>
      <%= form.select :sort_by, options_for_select({"Rating" => "rating", "Date" => "date", "Topics" => "topics" }), {}, class: "form-control" %>
    </div>
    <div class="form-group mr-2">
      <%= form.label :direction, "Direction:" %>
      <%= form.select :direction, options_for_select({ "Ascending" => "asc", "Descending" => "desc" }), {}, class: "form-control" %>
    </div>
    <%= form.submit "Filter", class: "btn btn-info" %>
  <% end %>
  <div class="text-center mb-4">
    <%= link_to "New Post", new_post_path, class: "btn btn-primary" %>
  </div>
  <% @posts.each do |post| %>
    <div class="d-flex justify-content-between align-items-center mb-3">
      <div>
        <%= button_to "Like", like_post_path(post), method: :put, class: "btn btn-success btn-sm" %>
      </div>
      <div>
        <%= link_to post.title, post_path(post) %>
        <small class="text-muted">
          (Likes: <%= post.likes %> | Dislikes: <%= post.dislikes %>) from <%= link_to post.topic.name, topic_path(post.topic) %>
        </small>
      </div>
      <div>
        <%= button_to "Dislike", dislike_post_path(post), method: :put, class: "btn btn-outline-danger btn-sm" %>
      </div>
    </div>
  <% end %>
</div>
